@charset "UTF-8";

/* Paleta de Cores
   Rosa Escuro - #9a6472
   Laranja Avermelhado - #ef9477
   Cinza - #a0a0a0 */
    
*{  padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;}


html, body{
    height: 100vh;
    width: 100vw;
}

body{
    background-color: #ef9477;
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
}


section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 300px;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.445);
    overflow: hidden;

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;

}

div#foto{
    background-image: url(../imagens/phone.jpg);
    background-color: #ef9477;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    display: block;
}

div#form{
    display: block;
    padding: 10px;
    
}

div#form>h1{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

div#form > p{
    font-size: 0.8em;
    
}

div.campo{
    display: block;
    margin: 5px 0px;
    width: 100%;
    height: 40px;
    background-color: #ef9477;
    border-radius: 5px;
    text-align: center;
    
}
div.campo label{
    display: none;
}

div#form input[type=submit]{
    display: block;
    font-size: 1em;
    margin: 10px 0px;
    width: 100%;
    height: 40px;
    background-color: #9a6472;
    color: white;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

div#form input[type=submit]:hover{
    background-color: #c58092;
}

a.botao{
    display: block;
    font-size: 1em;
    padding: 5px;
    width: 100%;
    height: 40px;
    background-color: white;
    color: #9a6472;
    border: 1px solid #9a6472;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

a.botao:hover{
    background-color: #c47c8f;
    color: white;
    border: 0px;
}

a.botao>i{
    font-size: 0.8em;
}